In [1]:
from pyspark.sql import SparkSession

# create sparksession with hive enable
from pyspark.sql import SparkSession 
spark = SparkSession.builder\
            .master("local[4]")\
            .appName("delta-support")\
            .config("spark.sql.warehouse.dir","C:/Users/Avinash Godbole/Desktop/Programm File/pyspark_code/spark_warehouse")\
            .enableHiveSupport()\
            .getOrCreate()
spark

In [8]:
dept = [("finance",10),\
        ("market",20),\
        ("sales",30),\
        ("It",40)]

col = ["dept","id"]
schema = "dept string,id int"
df = spark.createDataFrame(dept,schema)
df.printSchema()

root
 |-- dept: string (nullable = true)
 |-- id: integer (nullable = true)

In [ ]:
# github
# https://github.com/jaumpedro214/posts

In [5]:
data = spark.range(0, 10)
data.write.format("delta").save("./delta_form")

In [6]:
spark.read.format("delta").load("./delta_form").show()

+---+
| id|
+---+
|  2|
|  3|
|  4|
|  7|
|  8|
|  9|
|  0|
|  1|
|  5|
|  6|
+---+

In [12]:
data.write.saveAsTable("emptbl11")

In [16]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
|dltformat|
+---------+

5

In [5]:
# create RDD from parallelize
datalist = [("Java",20000),("Python",100000),("SCala",3000)]
rdd = spark.sparkContext.parallelize(datalist)

In [3]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]
columns = ["firstname",'midddlname','lastname','dob','gender','salary']
df = spark.createDataFrame(data=data,schema=columns)

In [4]:
df.show()

+---------+----------+--------+----------+------+------+
|firstname|midddlname|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [7]:
df.createOrReplaceTempView("df")
spark.sql("select firstname, midddlname from df")

DataFrame[firstname: string, midddlname: string]

In [11]:
df.createOrReplaceTempView("PERSON_DATA")

In [12]:
df2 = spark.sql("SELECT * FROM PERSON_DATA")

In [16]:
df2.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- midddlname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [17]:
rdd.first()

('Java', 20000)

In [18]:
rdd.isEmpty()

False

In [8]:
spark.stop()