# Fuctions
- Pyspark Dataframe
- Reading the dataset
- Checking the Datatypes of teh columns(schema)
- selecting columns and indexing
- check Describe option similar to Pandas
- Addding Columns
- Dropping columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Dataframe").getOrCreate()

In [4]:
spark

In [3]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [32]:
# chek the schema
df_pyspark.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [26]:
df_pyspark = spark.read.csv('test1.csv',header=True,inferSchema=True)

In [9]:
df_pyspark.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
# get columns
df_pyspark.columns

['_c0', 'Name', 'Age', 'Experience']

In [12]:
df_pyspark.head(3)

[Row(_c0=0, Name='avi', Age=31, Experience=4),
 Row(_c0=1, Name='rahul', Age=32, Experience=3),
 Row(_c0=2, Name='shubham', Age=33, Experience=2)]

In [13]:
df_pyspark.show()

+---+-------+---+----------+
|_c0|   Name|Age|Experience|
+---+-------+---+----------+
|  0|    avi| 31|         4|
|  1|  rahul| 32|         3|
|  2|shubham| 33|         2|
+---+-------+---+----------+

In [14]:
# selectiong perticular columns
df_pyspark.select('Name')

DataFrame[Name: string]

In [15]:
# selectiong mulitple columns
df_pyspark.select(['Name','Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|    avi|         4|
|  rahul|         3|
|shubham|         2|
+-------+----------+

In [16]:
df_pyspark['Name'] # see the type of data # not shows the

Column<'Name'>

In [17]:
df_pyspark.dtypes

[('_c0', 'int'), ('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [19]:
# describe
df_pyspark.describe().show()

+-------+---+-------+----+----------+
|summary|_c0|   Name| Age|Experience|
+-------+---+-------+----+----------+
|  count|  3|      3|   3|         3|
|   mean|1.0|   null|32.0|       3.0|
| stddev|1.0|   null| 1.0|       1.0|
|    min|  0|    avi|  31|         2|
|    max|  2|shubham|  33|         4|
+-------+---+-------+----+----------+

In [34]:
df_pyspark=df_pyspark.withColumn("Experience after 2 yeaer",df_pyspark['Experience']+2)

In [37]:
## drop teh columns 
df_pyspark.drop("Experience after 2 yeaer").show()

+---+-------+---+----------+
|_c0|   Name|Age|Experience|
+---+-------+---+----------+
|  0|    avi| 31|         4|
|  1|  rahul| 32|         3|
|  2|shubham| 33|         2|
+---+-------+---+----------+

In [38]:
df_pyspark.show()

+---+-------+---+----------+------------------------+
|_c0|   Name|Age|Experience|Experience after 2 yeaer|
+---+-------+---+----------+------------------------+
|  0|    avi| 31|         4|                       6|
|  1|  rahul| 32|         3|                       5|
|  2|shubham| 33|         2|                       4|
+---+-------+---+----------+------------------------+

In [39]:
### Rename the columns
df_pyspark.withColumnRenamed("Name","New Name").show()

+---+--------+---+----------+------------------------+
|_c0|New Name|Age|Experience|Experience after 2 yeaer|
+---+--------+---+----------+------------------------+
|  0|     avi| 31|         4|                       6|
|  1|   rahul| 32|         3|                       5|
|  2| shubham| 33|         2|                       4|
+---+--------+---+----------+------------------------+

In [5]:
spark.stop()