# PYspark Handlling Missing Values
- dropping Columns
- Dropping Rows
- Various Paramter in Dropping functionalities
- Handlling missing valeus by mean,median , mode

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [12]:
list = [1,2,3,4,5,6,7,8,9,10,11,12]
rdd=spark.sparkContext.parallelize(list)

In [17]:
rdd.map(lambda x: 3*x)

PythonRDD[3] at RDD at PythonRDD.scala:53

In [20]:
df_pyspark = spark.read.csv('exp.csv',header=True,inferSchema=True)

In [21]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|    avi|  31|       4.3|  null|
|  rahul|  32|       3.0| 40000|
|shubham|  33|       2.0| 50000|
| ganesh|  27|       3.0| 24000|
|sandesh|  26|       2.0| 20000|
| Harsha|  30|       4.0| 43000|
| mahesh|null|      null| 35000|
|   null|  34|      10.0| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [22]:
# drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  31|       4.3|  null|
|  32|       3.0| 40000|
|  33|       2.0| 50000|
|  27|       3.0| 24000|
|  26|       2.0| 20000|
|  30|       4.0| 43000|
|null|      null| 35000|
|  34|      10.0| 38000|
|  36|      null|  null|
+----+----------+------+

In [23]:
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  rahul| 32|       3.0| 40000|
|shubham| 33|       2.0| 50000|
| ganesh| 27|       3.0| 24000|
|sandesh| 26|       2.0| 20000|
| Harsha| 30|       4.0| 43000|
+-------+---+----------+------+

In [25]:
## any == how
df_pyspark.na.drop(how="all").show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|    avi|  31|       4.3|  null|
|  rahul|  32|       3.0| 40000|
|shubham|  33|       2.0| 50000|
| ganesh|  27|       3.0| 24000|
|sandesh|  26|       2.0| 20000|
| Harsha|  30|       4.0| 43000|
| mahesh|null|      null| 35000|
|   null|  34|      10.0| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [26]:
## how ==any
df_pyspark.na.drop(how='any').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  rahul| 32|       3.0| 40000|
|shubham| 33|       2.0| 50000|
| ganesh| 27|       3.0| 24000|
|sandesh| 26|       2.0| 20000|
| Harsha| 30|       4.0| 43000|
+-------+---+----------+------+

In [31]:
# threshold
df_pyspark.na.drop(thresh=4).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  rahul| 32|       3.0| 40000|
|shubham| 33|       2.0| 50000|
| ganesh| 27|       3.0| 24000|
|sandesh| 26|       2.0| 20000|
| Harsha| 30|       4.0| 43000|
+-------+---+----------+------+

In [32]:
# Subset
df_pyspark.na.drop(how='any',subset=['Salary']).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  rahul|  32|       3.0| 40000|
|shubham|  33|       2.0| 50000|
| ganesh|  27|       3.0| 24000|
|sandesh|  26|       2.0| 20000|
| Harsha|  30|       4.0| 43000|
| mahesh|null|      null| 35000|
|   null|  34|      10.0| 38000|
+-------+----+----------+------+

In [33]:
### Filling the missing valeu
df_pyspark.na.fill('Missing values',['Age','Name']).show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|           avi|  31|       4.3|  null|
|         rahul|  32|       3.0| 40000|
|       shubham|  33|       2.0| 50000|
|        ganesh|  27|       3.0| 24000|
|       sandesh|  26|       2.0| 20000|
|        Harsha|  30|       4.0| 43000|
|        mahesh|null|      null| 35000|
|Missing values|  34|      10.0| 38000|
|Missing values|  36|      null|  null|
+--------------+----+----------+------+

In [34]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|    avi|  31|       4.3|  null|
|  rahul|  32|       3.0| 40000|
|shubham|  33|       2.0| 50000|
| ganesh|  27|       3.0| 24000|
|sandesh|  26|       2.0| 20000|
| Harsha|  30|       4.0| 43000|
| mahesh|null|      null| 35000|
|   null|  34|      10.0| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [35]:
# filling the null values
from pyspark.ml.feature import Imputer 
 
imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=['{}_imputed'.format(c) for c in ['Age','Experience','Salary']]
).setStrategy('mean')

In [37]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|    avi|  31|       4.3|  null|
|  rahul|  32|       3.0| 40000|
|shubham|  33|       2.0| 50000|
| ganesh|  27|       3.0| 24000|
|sandesh|  26|       2.0| 20000|
| Harsha|  30|       4.0| 43000|
| mahesh|null|      null| 35000|
|   null|  34|      10.0| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [38]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|    avi|  31|       4.3|  null|         31|               4.3|         35714|
|  rahul|  32|       3.0| 40000|         32|               3.0|         40000|
|shubham|  33|       2.0| 50000|         33|               2.0|         50000|
| ganesh|  27|       3.0| 24000|         27|               3.0|         24000|
|sandesh|  26|       2.0| 20000|         26|               2.0|         20000|
| Harsha|  30|       4.0| 43000|         30|               4.0|         43000|
| mahesh|null|      null| 35000|         31| 4.042857142857143|         35000|
|   null|  34|      10.0| 38000|         34|              10.0|         38000|
|   null|  36|      null|  null|         36| 4.042857142857143|         35714|
+-------+----+----------+------+-----------+------------------+--------------+

In [18]:
spark.stop()

In [39]:
# --serializing.py----
#from pyspark.sql import SparkSession
#spark = SparkSession.builder.appName("rdd").getOrCreate()
#sc = SparkContext()    #Initialize spark context and serializer
print(spark.sparkContext.parallelize(list(range(1000))).map(lambda x: 3 * x).take(5))
#spark.stop()

[0, 3, 6, 9, 12]