# Fuctions
- Pyspark Dataframe
- Reading the dataset
- Checking the Datatypes of teh columns(schema)
- selecting columns and indexing
- check Describe option similar to Pandas
- Addding Columns
- Dropping columns

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Dataframe").getOrCreate()
spark

In [5]:
## read the dataset
df = spark.read.option("header","true")\
    .option("inferSchema","true")\
    .csv("dept.csv")

In [6]:
# chek the schema
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departmets: string (nullable = true)
 |-- Salary: double (nullable = true)

In [7]:
# get columns
df.columns

['Name', 'Departmets', 'Salary']

In [8]:
df.head(3)

[Row(Name='Avi', Departmets='Data Science', Salary=10000.0),
 Row(Name='Rahul', Departmets='Big Data', Salary=15000.0),
 Row(Name='Avi', Departmets='IOT', Salary=5000.0)]

In [9]:
# selectiong perticular columns
df.select('Name')

DataFrame[Name: string]

In [10]:
# selectiong mulitple columns
df.select(['Name','Salary']).show()

+-------+-------+
|   Name| Salary|
+-------+-------+
|    Avi|10000.0|
|  Rahul|15000.0|
|    Avi| 5000.0|
| Mahesh| 4000.0|
|    Avi| 4000.0|
| Mahesh| 2000.0|
| Ganesh|10000.0|
| Ganesh| 5000.0|
|Shubham|10000.0|
|Shubham| 2000.0|
|  Ankit| 3000.0|
+-------+-------+

In [11]:
df['Name'] # see the type of data # not shows the

Column<b'Name'>

In [12]:
df.dtypes

[('Name', 'string'), ('Departmets', 'string'), ('Salary', 'double')]

In [13]:
# describe
df.describe().show()

+-------+-------+----------+-----------------+
|summary|   Name|Departmets|           Salary|
+-------+-------+----------+-----------------+
|  count|     11|        11|               11|
|   mean|   null|      null|6363.636363636364|
| stddev|   null|      null|4225.463933646276|
|    min|  Ankit|  Big Data|           2000.0|
|    max|Shubham|       IOT|          15000.0|
+-------+-------+----------+-----------------+

In [14]:
# adding column 
df_pyspark=df.withColumn("double_sal",df['Salary']*2)
df_pyspark.show()

+-------+------------+-------+----------+
|   Name|  Departmets| Salary|double_sal|
+-------+------------+-------+----------+
|    Avi|Data Science|10000.0|   20000.0|
|  Rahul|    Big Data|15000.0|   30000.0|
|    Avi|         IOT| 5000.0|   10000.0|
| Mahesh|    Big Data| 4000.0|    8000.0|
|    Avi|    Big Data| 4000.0|    8000.0|
| Mahesh|Data Science| 2000.0|    4000.0|
| Ganesh|         IOT|10000.0|   20000.0|
| Ganesh|    Big Data| 5000.0|   10000.0|
|Shubham|Data Science|10000.0|   20000.0|
|Shubham|    Big Data| 2000.0|    4000.0|
|  Ankit|    Big Data| 3000.0|    6000.0|
+-------+------------+-------+----------+

In [15]:
### Rename the columns
df_pyspark.withColumnRenamed("Name","New Name").show()

+--------+------------+-------+----------+
|New Name|  Departmets| Salary|double_sal|
+--------+------------+-------+----------+
|     Avi|Data Science|10000.0|   20000.0|
|   Rahul|    Big Data|15000.0|   30000.0|
|     Avi|         IOT| 5000.0|   10000.0|
|  Mahesh|    Big Data| 4000.0|    8000.0|
|     Avi|    Big Data| 4000.0|    8000.0|
|  Mahesh|Data Science| 2000.0|    4000.0|
|  Ganesh|         IOT|10000.0|   20000.0|
|  Ganesh|    Big Data| 5000.0|   10000.0|
| Shubham|Data Science|10000.0|   20000.0|
| Shubham|    Big Data| 2000.0|    4000.0|
|   Ankit|    Big Data| 3000.0|    6000.0|
+--------+------------+-------+----------+

In [19]:
# droping colunm
df_pyspark.drop("double_sal").show()

+-------+------------+-------+
|   Name|  Departmets| Salary|
+-------+------------+-------+
|    Avi|Data Science|10000.0|
|  Rahul|    Big Data|15000.0|
|    Avi|         IOT| 5000.0|
| Mahesh|    Big Data| 4000.0|
|    Avi|    Big Data| 4000.0|
| Mahesh|Data Science| 2000.0|
| Ganesh|         IOT|10000.0|
| Ganesh|    Big Data| 5000.0|
|Shubham|Data Science|10000.0|
|Shubham|    Big Data| 2000.0|
|  Ankit|    Big Data| 3000.0|
+-------+------------+-------+

In [17]:
spark.stop()