In [1]:
#!pip install pyspark

import pyspark
import pandas as pd 
from pyspark.sql import SparkSession

In [2]:
pd.read_excel('test.xlsx').to_csv("test1.csv")

In [12]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [13]:
spark

In [4]:
df_pyspark = spark.read.csv('test1.csv')

In [5]:
# see the dataframe
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [6]:
# see teh full dataframe
df_pyspark.show()

+-------+----+----------+------+
|    _c0| _c1|       _c2|   _c3|
+-------+----+----------+------+
|   Name| Age|Experience|Salary|
|    avi|  31|         4| 30000|
|  rahul|  30|         3| 27000|
|shubham|  33|         5| 50000|
| ganesh|  27|         3| 24000|
|sandesh|  24|         2| 20000|
| Harsha|  30|         4| 40000|
| mahesh|null|      null| 35000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [7]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [8]:
# use header
spark_df=spark.read.option('header','true').csv('test1.csv')

In [21]:
spark_df.show()

+---+-------+---+
|_c0|   Name|Age|
+---+-------+---+
|  0|    avi| 31|
|  1|  rahul| 32|
|  2|shubam | 33|
+---+-------+---+

In [9]:
spark_df.head()

Row(Name='avi', Age='31', Experience='4', Salary='30000')

In [10]:
# detail about schema
spark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [11]:
spark.stop()

In [15]:
country_df = spark.read.csv(r"C:\workspace\data\all_country.csv",inferSchema=True)

In [16]:
country_df

DataFrame[_c0: int, _c1: string, _c2: int, _c3: double, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string]

In [17]:
country_df.describe()

DataFrame[summary: string, _c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string]

In [19]:
country_df.count()

287712

In [20]:
spark.stop()