In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
df= spark.read.csv('exp.csv',header=True,inferSchema=True)
df.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|    avi|  31|       4.3|  null|
|  rahul|  32|       3.0| 40000|
|shubham|  33|       2.0| 50000|
| ganesh|  27|       3.0| 24000|
|sandesh|  26|       2.0| 20000|
| Harsha|  30|       4.0| 43000|
| mahesh|null|      null| 35000|
|   null|  34|      10.0| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

#### Filter Operations

In [7]:
### salary of people less than or equal to 20000
df.filter('Salary<=25000').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| ganesh| 27|       3.0| 24000|
|sandesh| 26|       2.0| 20000|
+-------+---+----------+------+

In [8]:
df.filter("Salary<=25000").select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
| ganesh| 27|
|sandesh| 26|
+-------+---+

In [10]:
df.filter(df['Salary']<=25000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| ganesh| 27|       3.0| 24000|
|sandesh| 26|       2.0| 20000|
+-------+---+----------+------+

In [11]:
df.filter((df['Salary']<=40000) & (df['Salary']>=25000)).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| rahul|  32|       3.0| 40000|
|mahesh|null|      null| 35000|
|  null|  34|      10.0| 38000|
+------+----+----------+------+

In [12]:
df.filter((df['Salary']<=40000) | (df['Salary']>=25000)).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  rahul|  32|       3.0| 40000|
|shubham|  33|       2.0| 50000|
| ganesh|  27|       3.0| 24000|
|sandesh|  26|       2.0| 20000|
| Harsha|  30|       4.0| 43000|
| mahesh|null|      null| 35000|
|   null|  34|      10.0| 38000|
+-------+----+----------+------+

In [13]:
df.filter(~(df['Salary']<=25000)).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  rahul|  32|       3.0| 40000|
|shubham|  33|       2.0| 50000|
| Harsha|  30|       4.0| 43000|
| mahesh|null|      null| 35000|
|   null|  34|      10.0| 38000|
+-------+----+----------+------+

In [14]:
spark.stop()