In [2]:
#!pip install pyspark

import pyspark
import pandas as pd 
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [4]:
spark

In [18]:
# without option header and inferSchema
test_df = spark.read.csv('test1.csv')
test_df.printSchema()
test_df.show(truncate=False)

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

+---+-------+---+
|_c0|_c1    |_c2|
+---+-------+---+
|id |Name   |Age|
|0  |avi    |31 |
|1  |rahul  |32 |
|2  |shubam |33 |
+---+-------+---+

In [10]:
# use header
spark_df=spark.read.option('header','true')\
    .option("inferSchema","true").csv('test1.csv')
spark_df.show()

+---+-------+---+
| id|   Name|Age|
+---+-------+---+
|  0|    avi| 31|
|  1|  rahul| 32|
|  2|shubam | 33|
+---+-------+---+

In [11]:
spark_df.head()

Row(id=0, Name='avi', Age=31)

In [12]:
# detail about schema
spark_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [11]:
spark.stop()

In [13]:
country_df = spark.read.csv(r"C:\workspace\data\all_country.csv",inferSchema=True)

In [15]:
country_df.show(truncate=0)

+---+----------+-------+------+----------------------+---------------------------------+--------------+--------------+------+---+----+
|_c0|_c1       |_c2    |_c3   |_c4                   |_c5                              |_c6           |_c7           |_c8   |_c9|_c10|
+---+----------+-------+------+----------------------+---------------------------------+--------------+--------------+------+---+----+
|0  |6/26/2011 |4007024|40.33 |Exercise & Fitness    |Cardio Machine Accessories       |Clarksville   |Tennessee     |credit|I  |IND |
|1  |5/26/2011 |4006742|198.44|Exercise & Fitness    |Weightlifting Gloves             |Long Beach    |California    |credit|I  |IND |
|2  |6/1/2011  |4009775|5.58  |Exercise & Fitness    |Weightlifting Machine Accessories|Anaheim       |California    |credit|I  |IND |
|3  |6/5/2011  |4002199|198.19|Gymnastics            |Gymnastics Rings                 |Milwaukee     |Wisconsin     |credit|I  |IND |
|4  |12/17/2011|4002613|98.81 |Team Sports           |Field Hockey                     |Nashville     |Tennessee     |credit|I  |IND |
|5  |2/14/2011 |4007591|193.63|Outdoor Recreation    |Camping & Backpacking & Hiking   |Chicago       |Illinois      |credit|I  |IND |
|6  |10/28/2011|4002190|27.89 |Puzzles               |Jigsaw Puzzles                   |Charleston    |South Carolina|credit|I  |IND |
|7  |7/14/2011 |4002964|96.01 |Outdoor Play Equipment|Sandboxes                        |Columbus      |Ohio          |credit|I  |IND |
|8  |1/17/2011 |4007361|10.44 |Winter Sports         |Snowmobiling                     |Des Moines    |Iowa          |credit|I  |IND |
|9  |5/17/2011 |4004798|152.46|Jumping               |Bungee Jumping                   |St. Petersburg|Florida       |credit|I  |IND |
|10 |5/29/2011 |4004646|180.28|Outdoor Recreation    |Archery                          |Reno          |Nevada        |credit|I  |IND |
|11 |6/18/2011 |4008071|121.39|Outdoor Play Equipment|Swing Sets                       |Columbus      |Ohio          |credit|I  |IND |
|12 |2/8/2011  |4002473|41.52 |Indoor Games          |Bowling                          |San Francisco |California    |credit|I  |IND |
|13 |3/13/2011 |4003268|107.8 |Team Sports           |Field Hockey                     |Honolulu      |Hawaii        |credit|I  |IND |
|14 |2/25/2011 |4004613|36.81 |Gymnastics            |Vaulting Horses                  |Los Angeles   |California    |credit|I  |IND |
|15 |10/20/2011|4003179|137.64|Combat Sports         |Fencing                          |Honolulu      |Hawaii        |credit|I  |IND |
|16 |5/28/2011 |4009135|35.56 |Exercise & Fitness    |Free Weight Bars                 |Columbia      |South Carolina|credit|I  |IND |
|17 |10/18/2011|4006679|75.55 |Water Sports          |Scuba Diving & Snorkeling        |Omaha         |Nebraska      |credit|I  |IND |
|18 |11/18/2011|4002444|88.65 |Team Sports           |Baseball                         |Salt Lake City|Utah          |credit|I  |IND |
|19 |8/28/2011 |4008871|51.81 |Water Sports          |Life Jackets                     |Newark        |New Jersey    |credit|I  |IND |
+---+----------+-------+------+----------------------+---------------------------------+--------------+--------------+------+---+----+
only showing top 20 rows

In [16]:
country_df.describe()

DataFrame[summary: string, _c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string]

In [17]:
country_df.count()

287712

In [20]:
spark.stop()