In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [2]:
spark = SparkSession.builder.appName('intro').getOrCreate()

In [3]:
spark

# chapter 2 .intro spark

In [4]:
my_range = spark.range(1000).toDF("number")

In [5]:
my_range.take(3)

[Row(number=0), Row(number=1), Row(number=2)]

In [7]:
my_range.show()

+------+
|number|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     7|
|     8|
|     9|
|    10|
|    11|
|    12|
|    13|
|    14|
|    15|
|    16|
|    17|
|    18|
|    19|
+------+
only showing top 20 rows

In [8]:
divi_by2 = my_range.where('number %2 =0')

In [9]:
divi_by2.collect()

[Row(number=0),
 Row(number=2),
 Row(number=4),
 Row(number=6),
 Row(number=8),
 Row(number=10),
 Row(number=12),
 Row(number=14),
 Row(number=16),
 Row(number=18),
 Row(number=20),
 Row(number=22),
 Row(number=24),
 Row(number=26),
 Row(number=28),
 Row(number=30),
 Row(number=32),
 Row(number=34),
 Row(number=36),
 Row(number=38),
 Row(number=40),
 Row(number=42),
 Row(number=44),
 Row(number=46),
 Row(number=48),
 Row(number=50),
 Row(number=52),
 Row(number=54),
 Row(number=56),
 Row(number=58),
 Row(number=60),
 Row(number=62),
 Row(number=64),
 Row(number=66),
 Row(number=68),
 Row(number=70),
 Row(number=72),
 Row(number=74),
 Row(number=76),
 Row(number=78),
 Row(number=80),
 Row(number=82),
 Row(number=84),
 Row(number=86),
 Row(number=88),
 Row(number=90),
 Row(number=92),
 Row(number=94),
 Row(number=96),
 Row(number=98),
 Row(number=100),
 Row(number=102),
 Row(number=104),
 Row(number=106),
 Row(number=108),
 Row(number=110),
 Row(number=112),
 Row(number=114),
 Row(number=116),
 Row(number=118),
 Row(number=120),
 Row(number=122),
 Row(number=124),
 Row(number=126),
 Row(number=128),
 Row(number=130),
 Row(number=132),
 Row(number=134),
 Row(number=136),
 Row(number=138),
 Row(number=140),
 Row(number=142),
 Row(number=144),
 Row(number=146),
 Row(number=148),
 Row(number=150),
 Row(number=152),
 Row(number=154),
 Row(number=156),
 Row(number=158),
 Row(number=160),
 Row(number=162),
 Row(number=164),
 Row(number=166),
 Row(number=168),
 Row(number=170),
 Row(number=172),
 Row(number=174),
 Row(number=176),
 Row(number=178),
 Row(number=180),
 Row(number=182),
 Row(number=184),
 Row(number=186),
 Row(number=188),
 Row(number=190),
 Row(number=192),
 Row(number=194),
 Row(number=196),
 Row(number=198),
 Row(number=200),
 Row(number=202),
 Row(number=204),
 Row(number=206),
 Row(number=208),
 Row(number=210),
 Row(number=212),
 Row(number=214),
 Row(number=216),
 Row(number=218),
 Row(number=220),
 Row(number=222),
 Row(number=224),
 Row(number=226),
 Row(number=228),
 Row(number=230),
 Row(number=232),
 Row(number=234),
 Row(number=236),
 Row(number=238),
 Row(number=240),
 Row(number=242),
 Row(number=244),
 Row(number=246),
 Row(number=248),
 Row(number=250),
 Row(number=252),
 Row(number=254),
 Row(number=256),
 Row(number=258),
 Row(number=260),
 Row(number=262),
 Row(number=264),
 Row(number=266),
 Row(number=268),
 Row(number=270),
 Row(number=272),
 Row(number=274),
 Row(number=276),
 Row(number=278),
 Row(number=280),
 Row(number=282),
 Row(number=284),
 Row(number=286),
 Row(number=288),
 Row(number=290),
 Row(number=292),
 Row(number=294),
 Row(number=296),
 Row(number=298),
 Row(number=300),
 Row(number=302),
 Row(number=304),
 Row(number=306),
 Row(number=308),
 Row(number=310),
 Row(number=312),
 Row(number=314),
 Row(number=316),
 Row(number=318),
 Row(number=320),
 Row(number=322),
 Row(number=324),
 Row(number=326),
 Row(number=328),
 Row(number=330),
 Row(number=332),
 Row(number=334),
 Row(number=336),
 Row(number=338),
 Row(number=340),
 Row(number=342),
 Row(number=344),
 Row(number=346),
 Row(number=348),
 Row(number=350),
 Row(number=352),
 Row(number=354),
 Row(number=356),
 Row(number=358),
 Row(number=360),
 Row(number=362),
 Row(number=364),
 Row(number=366),
 Row(number=368),
 Row(number=370),
 Row(number=372),
 Row(number=374),
 Row(number=376),
 Row(number=378),
 Row(number=380),
 Row(number=382),
 Row(number=384),
 Row(number=386),
 Row(number=388),
 Row(number=390),
 Row(number=392),
 Row(number=394),
 Row(number=396),
 Row(number=398),
 Row(number=400),
 Row(number=402),
 Row(number=404),
 Row(number=406),
 Row(number=408),
 Row(number=410),
 Row(number=412),
 Row(number=414),
 Row(number=416),
 Row(number=418),
 Row(number=420),
 Row(number=422),
 Row(number=424),
 Row(number=426),
 Row(number=428),
 Row(number=430),
 Row(number=432),
 Row(number=434),
 Row(number=436),
 Row(number=438),
 Row(number=440),
 Row(number=442),
 Row(number=444),
 Row(number=446),
 Row(number=448),
 Row(number=450),
 Row(number=452),
 Row(number=454),
 Row(number=456),
 Row(number=458),
 Row(number=460),
 Row(number=462),
 Row(number=464),
 Row(number=466),
 Row(number=468),
 Row(number=470),
 Row(number=472),
 Row(number=474),
 Row(number=476),
 Row(number=478),
 Row(number=480),
 Row(number=482),
 Row(number=484),
 Row(number=486),
 Row(number=488),
 Row(number=490),
 Row(number=492),
 Row(number=494),
 Row(number=496),
 Row(number=498),
 Row(number=500),
 Row(number=502),
 Row(number=504),
 Row(number=506),
 Row(number=508),
 Row(number=510),
 Row(number=512),
 Row(number=514),
 Row(number=516),
 Row(number=518),
 Row(number=520),
 Row(number=522),
 Row(number=524),
 Row(number=526),
 Row(number=528),
 Row(number=530),
 Row(number=532),
 Row(number=534),
 Row(number=536),
 Row(number=538),
 Row(number=540),
 Row(number=542),
 Row(number=544),
 Row(number=546),
 Row(number=548),
 Row(number=550),
 Row(number=552),
 Row(number=554),
 Row(number=556),
 Row(number=558),
 Row(number=560),
 Row(number=562),
 Row(number=564),
 Row(number=566),
 Row(number=568),
 Row(number=570),
 Row(number=572),
 Row(number=574),
 Row(number=576),
 Row(number=578),
 Row(number=580),
 Row(number=582),
 Row(number=584),
 Row(number=586),
 Row(number=588),
 Row(number=590),
 Row(number=592),
 Row(number=594),
 Row(number=596),
 Row(number=598),
 Row(number=600),
 Row(number=602),
 Row(number=604),
 Row(number=606),
 Row(number=608),
 Row(number=610),
 Row(number=612),
 Row(number=614),
 Row(number=616),
 Row(number=618),
 Row(number=620),
 Row(number=622),
 Row(number=624),
 Row(number=626),
 Row(number=628),
 Row(number=630),
 Row(number=632),
 Row(number=634),
 Row(number=636),
 Row(number=638),
 Row(number=640),
 Row(number=642),
 Row(number=644),
 Row(number=646),
 Row(number=648),
 Row(number=650),
 Row(number=652),
 Row(number=654),
 Row(number=656),
 Row(number=658),
 Row(number=660),
 Row(number=662),
 Row(number=664),
 Row(number=666),
 Row(number=668),
 Row(number=670),
 Row(number=672),
 Row(number=674),
 Row(number=676),
 Row(number=678),
 Row(number=680),
 Row(number=682),
 Row(number=684),
 Row(number=686),
 Row(number=688),
 Row(number=690),
 Row(number=692),
 Row(number=694),
 Row(number=696),
 Row(number=698),
 Row(number=700),
 Row(number=702),
 Row(number=704),
 Row(number=706),
 Row(number=708),
 Row(number=710),
 Row(number=712),
 Row(number=714),
 Row(number=716),
 Row(number=718),
 Row(number=720),
 Row(number=722),
 Row(number=724),
 Row(number=726),
 Row(number=728),
 Row(number=730),
 Row(number=732),
 Row(number=734),
 Row(number=736),
 Row(number=738),
 Row(number=740),
 Row(number=742),
 Row(number=744),
 Row(number=746),
 Row(number=748),
 Row(number=750),
 Row(number=752),
 Row(number=754),
 Row(number=756),
 Row(number=758),
 Row(number=760),
 Row(number=762),
 Row(number=764),
 Row(number=766),
 Row(number=768),
 Row(number=770),
 Row(number=772),
 Row(number=774),
 Row(number=776),
 Row(number=778),
 Row(number=780),
 Row(number=782),
 Row(number=784),
 Row(number=786),
 Row(number=788),
 Row(number=790),
 Row(number=792),
 Row(number=794),
 Row(number=796),
 Row(number=798),
 Row(number=800),
 Row(number=802),
 Row(number=804),
 Row(number=806),
 Row(number=808),
 Row(number=810),
 Row(number=812),
 Row(number=814),
 Row(number=816),
 Row(number=818),
 Row(number=820),
 Row(number=822),
 Row(number=824),
 Row(number=826),
 Row(number=828),
 Row(number=830),
 Row(number=832),
 Row(number=834),
 Row(number=836),
 Row(number=838),
 Row(number=840),
 Row(number=842),
 Row(number=844),
 Row(number=846),
 Row(number=848),
 Row(number=850),
 Row(number=852),
 Row(number=854),
 Row(number=856),
 Row(number=858),
 Row(number=860),
 Row(number=862),
 Row(number=864),
 Row(number=866),
 Row(number=868),
 Row(number=870),
 Row(number=872),
 Row(number=874),
 Row(number=876),
 Row(number=878),
 Row(number=880),
 Row(number=882),
 Row(number=884),
 Row(number=886),
 Row(number=888),
 Row(number=890),
 Row(number=892),
 Row(number=894),
 Row(number=896),
 Row(number=898),
 Row(number=900),
 Row(number=902),
 Row(number=904),
 Row(number=906),
 Row(number=908),
 Row(number=910),
 Row(number=912),
 Row(number=914),
 Row(number=916),
 Row(number=918),
 Row(number=920),
 Row(number=922),
 Row(number=924),
 Row(number=926),
 Row(number=928),
 Row(number=930),
 Row(number=932),
 Row(number=934),
 Row(number=936),
 Row(number=938),
 Row(number=940),
 Row(number=942),
 Row(number=944),
 Row(number=946),
 Row(number=948),
 Row(number=950),
 Row(number=952),
 Row(number=954),
 Row(number=956),
 Row(number=958),
 Row(number=960),
 Row(number=962),
 Row(number=964),
 Row(number=966),
 Row(number=968),
 Row(number=970),
 Row(number=972),
 Row(number=974),
 Row(number=976),
 Row(number=978),
 Row(number=980),
 Row(number=982),
 Row(number=984),
 Row(number=986),
 Row(number=988),
 Row(number=990),
 Row(number=992),
 Row(number=994),
 Row(number=996),
 Row(number=998)]

In [10]:
## end to end
flight_data_path = "data/flight-data/csv/2015-summary.csv"
flight_data_2015 = spark.read.options(inferschema=True,header=True).csv(flight_data_path)

In [11]:
flight_data_2015.take(3)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344)]

In [12]:
flight_data_2015.sort('count').explain()

== Physical Plan ==
*(1) Sort [count#27 ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(count#27 ASC NULLS FIRST, 200), true, [id=#80]
   +- FileScan csv [DEST_COUNTRY_NAME#25,ORIGIN_COUNTRY_NAME#26,count#27] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/c:/Users/Avinash Godbole/Desktop/Programm File/pyspark/oriily_book2018/da..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,ORIGIN_COUNTRY_NAME:string,count:int>

In [15]:
# create view for sql queries
flight_data_2015.createOrReplaceTempView('flight_data')

In [16]:
dataFrameWay = flight_data_2015.groupBy('DEST_COUNTRY_NAME').count()

In [17]:
sqlway = spark.sql("select DEST_COUNTRY_NAME,count(1) from flight_data GROUP BY DEST_COUNTRY_NAME")

In [18]:
sqlway.explain()

== Physical Plan ==
*(2) HashAggregate(keys=[DEST_COUNTRY_NAME#25], functions=[count(1)])
+- Exchange hashpartitioning(DEST_COUNTRY_NAME#25, 200), true, [id=#106]
   +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#25], functions=[partial_count(1)])
      +- FileScan csv [DEST_COUNTRY_NAME#25] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/c:/Users/Avinash Godbole/Desktop/Programm File/pyspark/oriily_book2018/da..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

In [19]:
dataFrameWay.explain()

== Physical Plan ==
*(2) HashAggregate(keys=[DEST_COUNTRY_NAME#25], functions=[count(1)])
+- Exchange hashpartitioning(DEST_COUNTRY_NAME#25, 200), true, [id=#125]
   +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#25], functions=[partial_count(1)])
      +- FileScan csv [DEST_COUNTRY_NAME#25] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/c:/Users/Avinash Godbole/Desktop/Programm File/pyspark/oriily_book2018/da..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

In [20]:
flight_data_2015.select(F.max("count")).take(1)

[Row(max(count)=370002)]

In [21]:
# top 5 
# spark sql
max_sql = spark.sql("select DEST_COUNTRY_NAME, sum(count) as destination_total \
    from flight_data group by DEST_COUNTRY_NAME order by sum(count) desc limit 5")

In [27]:
max_sql.show()

+-----------------+-----------------+
|DEST_COUNTRY_NAME|destination_total|
+-----------------+-----------------+
|    United States|           411352|
|           Canada|             8399|
|           Mexico|             7140|
|   United Kingdom|             2025|
|            Japan|             1548|
+-----------------+-----------------+

In [31]:
# dataframe
flight_data_2015.groupBy("DEST_COUNTRY_NAME")\
    .sum('count')\
    .withColumnRenamed("sum(count)",'destination_total')\
    .sort(F.desc('destination_total'))\
    .limit(5)\
    .show()

+-----------------+-----------------+
|DEST_COUNTRY_NAME|destination_total|
+-----------------+-----------------+
|    United States|           411352|
|           Canada|             8399|
|           Mexico|             7140|
|   United Kingdom|             2025|
|            Japan|             1548|
+-----------------+-----------------+

In [32]:
flight_data_2015.groupBy("DEST_COUNTRY_NAME")\
    .sum('count')\
    .withColumnRenamed("sum(count)",'destination_total')\
    .sort(F.desc('destination_total'))\
    .limit(5).explain()

== Physical Plan ==
TakeOrderedAndProject(limit=5, orderBy=[destination_total#151L DESC NULLS LAST], output=[DEST_COUNTRY_NAME#20,destination_total#151L])
+- *(2) HashAggregate(keys=[DEST_COUNTRY_NAME#20], functions=[sum(cast(count#22 as bigint))])
   +- Exchange hashpartitioning(DEST_COUNTRY_NAME#20, 200), true, [id=#252]
      +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#20], functions=[partial_sum(cast(count#22 as bigint))])
         +- FileScan csv [DEST_COUNTRY_NAME#20,count#22] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/c:/Users/Avinash Godbole/Desktop/Programm File/pyspark/oriily_book2018/da..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,count:int>

# chapter 3 A Tour of Sparks Toolset

In [13]:
retail_data_path = 'data/retail-data/by-day/*.csv'
static_dataframe = spark.read.format("csv")\
    .options(inferschema=True,header=True)\
    .load(retail_data_path)

In [14]:
static_dataframe.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

In [15]:
static_dataframe.selectExpr(
    "CustomerID",
    "(UnitPrice * Quantity) as total_cost",
    "InvoiceDate")\
    .groupBy(F.col("CustomerID"),F.window(F.col("InvoiceDate"),"1 day"))\
    .sum('total_cost')\
    .show()

+----------+--------------------+------------------+
|CustomerID|              window|   sum(total_cost)|
+----------+--------------------+------------------+
|   16057.0|[2011-12-05 05:30...|             -37.6|
|   14126.0|[2011-11-29 05:30...| 643.6300000000001|
|   13500.0|[2011-11-16 05:30...| 497.9700000000001|
|   17160.0|[2011-11-08 05:30...| 516.8499999999999|
|   15608.0|[2011-11-11 05:30...|             122.4|
|   15253.0|[2011-11-23 05:30...|             277.6|
|   15124.0|[2011-11-17 05:30...|             93.44|
|   12539.0|[2011-11-17 05:30...|           1050.66|
|   13658.0|[2011-11-30 05:30...| 542.4000000000001|
|   17396.0|[2011-10-31 05:30...|             495.0|
|   13576.0|[2011-11-10 05:30...| 543.3600000000001|
|   15111.0|[2011-11-10 05:30...|329.67999999999995|
|   17419.0|[2011-10-06 05:30...|465.54999999999995|
|   15749.0|[2011-04-18 05:30...|-1462.500000000001|
|   15769.0|[2011-04-18 05:30...|122.03999999999999|
|   18219.0|[2011-04-18 05:30...|            200.32|
|   13408.0|[2010-12-01 05:30...|1024.6800000000003|
|   17460.0|[2010-12-01 05:30...|              19.9|
|   17731.0|[2011-09-21 05:30...|            276.37|
|   16813.0|[2011-12-01 05:30...|148.54000000000002|
+----------+--------------------+------------------+
only showing top 20 rows

In [5]:
# in Python
df1 = spark.range(2, 10000000, 2)
df2 = spark.range(2, 10000000, 4)
step1 = df1.repartition(5)
step12 = df2.repartition(6)
step2 = step1.selectExpr("id * 5 as id")
step3 = step2.join(step12, ["id"])
step4 = step3.selectExpr("sum(id)")

In [6]:
step4.collect()

[Row(sum(id)=2500000000000)]

In [7]:
step4.explain()

== Physical Plan ==
*(7) HashAggregate(keys=[], functions=[sum(id#8L)])
+- Exchange SinglePartition, true, [id=#66]
   +- *(6) HashAggregate(keys=[], functions=[partial_sum(id#8L)])
      +- *(6) Project [id#8L]
         +- *(6) SortMergeJoin [id#8L], [id#2L], Inner
            :- *(3) Sort [id#8L ASC NULLS FIRST], false, 0
            :  +- Exchange hashpartitioning(id#8L, 200), true, [id=#50]
            :     +- *(2) Project [(id#0L * 5) AS id#8L]
            :        +- Exchange RoundRobinPartitioning(5), false, [id=#46]
            :           +- *(1) Range (2, 10000000, step=2, splits=8)
            +- *(5) Sort [id#2L ASC NULLS FIRST], false, 0
               +- Exchange hashpartitioning(id#2L, 200), true, [id=#57]
                  +- Exchange RoundRobinPartitioning(6), false, [id=#56]
                     +- *(4) Range (2, 10000000, step=4, splits=8)

# 4. Structured API 
    - DataFrame
    - Dataset 
    - sql

In [22]:
spark

In [26]:
df = spark.range(50).toDF("number")
df.withColumn("addition",df.number+10).show()

+------+--------+
|number|addition|
+------+--------+
|     0|      10|
|     1|      11|
|     2|      12|
|     3|      13|
|     4|      14|
|     5|      15|
|     6|      16|
|     7|      17|
|     8|      18|
|     9|      19|
|    10|      20|
|    11|      21|
|    12|      22|
|    13|      23|
|    14|      24|
|    15|      25|
|    16|      26|
|    17|      27|
|    18|      28|
|    19|      29|
+------+--------+
only showing top 20 rows

In [27]:
# rows 
df.collect()

[Row(number=0),
 Row(number=1),
 Row(number=2),
 Row(number=3),
 Row(number=4),
 Row(number=5),
 Row(number=6),
 Row(number=7),
 Row(number=8),
 Row(number=9),
 Row(number=10),
 Row(number=11),
 Row(number=12),
 Row(number=13),
 Row(number=14),
 Row(number=15),
 Row(number=16),
 Row(number=17),
 Row(number=18),
 Row(number=19),
 Row(number=20),
 Row(number=21),
 Row(number=22),
 Row(number=23),
 Row(number=24),
 Row(number=25),
 Row(number=26),
 Row(number=27),
 Row(number=28),
 Row(number=29),
 Row(number=30),
 Row(number=31),
 Row(number=32),
 Row(number=33),
 Row(number=34),
 Row(number=35),
 Row(number=36),
 Row(number=37),
 Row(number=38),
 Row(number=39),
 Row(number=40),
 Row(number=41),
 Row(number=42),
 Row(number=43),
 Row(number=44),
 Row(number=45),
 Row(number=46),
 Row(number=47),
 Row(number=48),
 Row(number=49)]

In [ ]:
# datatype

In [ ]:
# execution of plan page no 63

In [ ]:
spark.stop()