In [1]:
# Dataframe
from pyspark.sql import SparkSession

# sparksession -> create dataframe
# sparkcontext -> create RDD

In [2]:
spark = SparkSession.builder.appName('sparkDataframe').getOrCreate()

In [3]:
spark

In [7]:
df = spark.read.option('header',True).csv('Data/StudentData.csv')
print(df)

DataFrame[age: string, gender: string, name: string, course: string, roll: string, marks: string, email: string]

In [8]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

In [9]:
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [10]:
df.count()

1000

In [12]:
df1 = spark.read.options(inferschema='True',header='True').csv('Data/StudentData.csv')
df1.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [15]:
from pyspark.sql.functions import col 
df.select(col('age'),col('gender')).show()

+---+------+
|age|gender|
+---+------+
| 28|Female|
| 29|Female|
| 28|  Male|
| 29|Female|
| 28|  Male|
| 28|  Male|
| 28|  Male|
| 28|Female|
| 28|  Male|
| 29|  Male|
| 29|Female|
| 29|  Male|
| 28|Female|
| 29|Female|
| 29|  Male|
| 29|Female|
| 29|  Male|
| 29|  Male|
| 29|  Male|
| 28|Female|
+---+------+
only showing top 20 rows

In [16]:
df.columns

['age', 'gender', 'name', 'course', 'roll', 'marks', 'email']

In [19]:
df.select(df.columns[3:5]).show()

+------+------+
|course|  roll|
+------+------+
|    DB| 02984|
| Cloud| 12899|
|    PF| 21267|
|    DB| 32877|
|   DSA| 41487|
|   MVC| 52771|
|   OOP| 61973|
| Cloud| 72409|
|   MVC| 81492|
|   OOP| 92882|
|   DSA|102285|
|    DB|111449|
|    DB|122502|
|   MVC|132110|
|    PF|141770|
|    DB|152159|
|   MVC|161771|
|   OOP|171660|
|    PF|182129|
|    DB|192537|
+------+------+
only showing top 20 rows