In [1]:
# Dataframe
from pyspark.sql import SparkSession

# sparksession -> create dataframe
# sparkcontext -> create RDD

In [2]:
spark = SparkSession.builder.appName('sparkDataframe').getOrCreate()

In [3]:
spark

In [4]:
df = spark.read.option('header',True).csv('Data/StudentData.csv')
print(df)

DataFrame[age: string, gender: string, name: string, course: string, roll: string, marks: string, email: string]

In [5]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

In [6]:
df.count()

1000

In [7]:
df1 = spark.read.options(inferschema='True',header='True').csv('Data/StudentData.csv')
df1.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [8]:
# show only age and gender column
from pyspark.sql import functions as F 
# df1.select("age","gender").show()

+---+------+
|age|gender|
+---+------+
| 28|Female|
| 29|Female|
| 28|  Male|
| 29|Female|
| 28|  Male|
| 28|  Male|
| 28|  Male|
| 28|Female|
| 28|  Male|
| 29|  Male|
| 29|Female|
| 29|  Male|
| 28|Female|
| 29|Female|
| 29|  Male|
| 29|Female|
| 29|  Male|
| 29|  Male|
| 29|  Male|
| 28|Female|
+---+------+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import col 
df.select(col('age'),col('gender')).show()

+---+------+
|age|gender|
+---+------+
| 28|Female|
| 29|Female|
| 28|  Male|
| 29|Female|
| 28|  Male|
| 28|  Male|
| 28|  Male|
| 28|Female|
| 28|  Male|
| 29|  Male|
| 29|Female|
| 29|  Male|
| 28|Female|
| 29|Female|
| 29|  Male|
| 29|Female|
| 29|  Male|
| 29|  Male|
| 29|  Male|
| 28|Female|
+---+------+
only showing top 20 rows

In [16]:
df.columns

['age', 'gender', 'name', 'course', 'roll', 'marks', 'email']

In [9]:
df1.select(df.columns[3:5]).show()

+------+------+
|course|  roll|
+------+------+
|    DB|  2984|
| Cloud| 12899|
|    PF| 21267|
|    DB| 32877|
|   DSA| 41487|
|   MVC| 52771|
|   OOP| 61973|
| Cloud| 72409|
|   MVC| 81492|
|   OOP| 92882|
|   DSA|102285|
|    DB|111449|
|    DB|122502|
|   MVC|132110|
|    PF|141770|
|    DB|152159|
|   MVC|161771|
|   OOP|171660|
|    PF|182129|
|    DB|192537|
+------+------+
only showing top 20 rows

In [12]:
df1.groupBy("gender").agg({"age":"sum","age":"avg"}).show()

+------+------------------+
|gender|          avg(age)|
+------+------------------+
|Female|28.489021956087825|
|  Male| 28.52304609218437|
+------+------------------+

28
<class 'pyspark.sql.types.Row'>
29
<class 'pyspark.sql.types.Row'>
28
<class 'pyspark.sql.types.Row'>
29
<class 'pyspark.sql.types.Row'>
28
<class 'pyspark.sql.types.Row'>