In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder\
        .appName("interview")\
        .getOrCreate()
spark

In [10]:
spark = SparkSession.builder \
        .appName("interview")\
        .getOrCreate()
spark

In [17]:
df = spark.read.options(header=True,inferSchema=True).format("csv").load(r"C:\workspace\data\usdata.csv")
df

DataFrame[first_name: string, last_name: string, company_name: string, address: string, city: string, country: string, state: string, zip: int, age: int, phone1: string, phone2: string, email: string, web: string]

### 1. creae empty rdd and dataframe

In [14]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

# create empty rdd without schema
rdd_wthout_schema = spark.sparkContext.emptyRDD()
rdd_wthout_schema.collect()

# another way to creae rdd 
rdd1 = spark.sparkContext.parallelize([])

# create empty rdd with schema 
#rdd_empty_schema = 

# create empty dataframe with schema 
schema = StructType(
    [
        StructField('id',IntegerType(),True),
        StructField("name",StringType(),True),
        StructField("email",StringType(),True)
    ]
)


# create empty dataframe 
df = rdd_wthout_schema.toDF(schema)
df.show()
# create empty dataframe without schema 
from pyspark.sql.types import  StructType
emptydf_without_schema = spark.createDataFrame([],StructType([]))
emptydf_without_schema.show()

## create empty dataframe with schema 
empty_df_withschema = spark.createDataFrame([],schema=schema)

In [ ]:
### 2. script of question

In [20]:
# 1. merging the tuple using scala/python
tuple_list = [(10,15),(12,20),(18,28),(30,40),(40,50),(55,60)]

add_tuple = ()
for i in tuple_list:
    add_tuple+=i 

add_tuple

(10, 15, 12, 20, 18, 28, 30, 40, 40, 50, 55, 60)

In [8]:
a = (10,15)
b = (12,20)
a+b

(10, 15, 12, 20)

In [21]:
type(add_tuple)

tuple

In [22]:
# 
list1 = [1,2,3,4,5]
list1 = [1,2,3,4,5]

In [48]:
# Q. input text file holding single row eith pipe delimited as shown below. how 
# will you apply break to every 5th occurrence of pip delimiter and display as show below.

from pyspark.sql.functions import regexp_replace,explode,split
# read file 
df1 = spark.read.csv("pipe.txt")
df1.show(truncate=False)

# replace evry 5th | with -
df2 = df1.withColumn("chk",regexp_replace("_c0","(.*?\\|){5}","$0-"))

# explode after spliting to get each rows 
df3 = df2.withColumn("col_expl",explode(split("chk","\|-"))).select("col_expl")

# schema 
col = ["name","Field","exp","tech","mob"]
# split on | and give schema 
df4 = df3.rdd.map(lambda x: x[0].split("|")).toDF(schema=col)
df4.show()

+-----------------------------------------------------------------------------------------------------------------------+
|_c0                                                                                                                    |
+-----------------------------------------------------------------------------------------------------------------------+
|Azar|BE|8|BigData|9273564321|Ramesh|BTech|3|Java|8685936472|Partiban|ME|6|dotNet|8756432542|Magesh|MCA|8|DBA|8765435242|
+-----------------------------------------------------------------------------------------------------------------------+

+--------+-----+---+-------+----------+
|    name|Field|exp|   tech|       mob|
+--------+-----+---+-------+----------+
|    Azar|   BE|  8|BigData|9273564321|
|  Ramesh|BTech|  3|   Java|8685936472|
|Partiban|   ME|  6| dotNet|8756432542|
|  Magesh|  MCA|  8|    DBA|8765435242|
+--------+-----+---+-------+----------+

In [49]:
spark.stop()

In [22]:
# photon intereveiw question
#1. read jon file data_photo 
# output -> raj|Mumbai|python raj|mubai|scala raj|mumbai|magodb vijay|mysure|spark vijay|mysure|ter
df = spark.read.format('json').load('data_photo.json')
from pyspark.sql.functions import  explode
df.withColumn("skill1",explode("skill")).select("name","location","skill1").show()
# ========================================================================================================




#2. read log file and get error log in separtate file error_runlog.txt using python 
# pysaprk
text = spark.read.text("log.txt")
error = text.filter(text.value.contains("Error"))
error.write.mode("overwrite").text("error_runlog.txt")

# python 


with open("log.txt") as f:
    lines = f.readlines()
  
with open("errorlog.txt","w") as e:
    for row in lines:
        if "Error" in row:
            e.write(row)    

# =======================================================================================

# 3. find the second letest login tiem for every user
login = spark.read.csv("login.csv",inferSchema=True,header=True)
# filter login data
log_filter = login.filter(login.act_type=="Login")
# convert to timestamp 
log_time = log_f.withColumn("time",to_timestamp(unix_timestamp(log_f.act_ts,"yyyy-MM-dd hh:mm a")))

from pyspark.sql.window import Window
from  pyspark.sql.functions import rank,col 
# partition and order by 
windowPartition = Window.partitionBy("user_id").orderBy(col("time").desc())
final = log_time.withColumn("rank",rank().over(windowPartition))

# final output 
fi = final.filter(final.rank==2).select("user_id","act_type","act_ts")
fi.show()

+-----+--------+--------+
| name|location|  skill1|
+-----+--------+--------+
|  raj|  mumbai|  python|
|  raj|  mumbai|   scala|
|  raj|  mumbai| mangodb|
|vijay|  mysure|teradata|
|vijay|  mysure|   spark|
+-----+--------+--------+

DataFrame[user_id: int, act_type: string, act_ts: string]

In [66]:
login = spark.read.csv("login.csv",inferSchema=True,header=True)
login

DataFrame[user_id: int, act_type: string, act_ts: string]

In [6]:

login.show()

+-------+--------+-------------------+
|user_id|act_type|             act_ts|
+-------+--------+-------------------+
|    101|   Login| 2022-05-23 9:00 AM|
|    101|  Logout| 2022-05-23 9:30 AM|
|    101|   Login|2022-05-23 10:00 AM|
|    101|  Logout|2022-05-23 10:30 AM|
|    102|   Login| 2022-05-23 9:00 AM|
|    102|  Logout| 2022-05-23 9:30 AM|
|    102|   Login|2022-05-23 10:00 AM|
|    102|  Logout|2022-05-23 10:30 AM|
+-------+--------+-------------------+

In [67]:
# from pyspark.sql.functions import to_timestamp
# df=spark.read.csv(fp,header=True)
# df=df.withColumn('time',to_timestamp("Date","MM/dd/yyyy hh:mm:ss a"))
# df.select("Case Number",'time','Date').show(5,False)

#spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
#login.withColumn("dat",to_timestamp("act_ts","yyyy-MM-dd hh:mm a")).show()


import pyspark.sql.functions as f
log_f = login.filter(login.act_type=="Login")



log_time = log_f.withColumn("time",unix_timestamp(log_f.act_ts,"yyyy-MM-dd hh:mm a"))
log_time.sort("time").show()
from pyspark.sql.window import Window
from  pyspark.sql.functions import rank,col 
windowPartition = Window.partitionBy("user_id").orderBy(col("time").desc())
final = log_time.withColumn("rank",rank().over(windowPartition))
fi = final.filter(final.rank==2).select("user_id","act_type","act_ts")
fi.show()

In [24]:
df1=spark.createDataFrame(
        data = [ ("1","2019-06-24 12:01:19.000")],
        schema=["id","input_timestamp"])
df1.printSchema()

root
 |-- id: string (nullable = true)
 |-- input_timestamp: string (nullable = true)

In [25]:
from pyspark.sql.functions import to_timestamp, to_date, date_format

df2 = df1.withColumn("time",to_timestamp("input_timestamp"))

In [28]:
df2.show()

+---+--------------------+-------------------+
| id|     input_timestamp|               tiem|
+---+--------------------+-------------------+
|  1|2019-06-24 12:01:...|2019-06-24 12:01:19|
+---+--------------------+-------------------+

In [27]:
df1.select(to_date(df1.input_timestamp,'MM-dd-yyyy HH:mm:ss.SSSS')) \
  .show()

+------------------------------------------------------+
|to_date(`input_timestamp`, 'MM-dd-yyyy HH:mm:ss.SSSS')|
+------------------------------------------------------+
|                                                  null|
+------------------------------------------------------+

In [36]:
df2.show()

+---+--------------------+-------------------+
| id|     input_timestamp|               tiem|
+---+--------------------+-------------------+
|  1|2019-06-24 12:01:...|2019-06-24 12:01:19|
+---+--------------------+-------------------+

In [ ]:

from pyspark.sql import SparkSession

# Create SparkSession

df=spark.createDataFrame(
        data = [ ("1","2019-06-24 12:01:19.000")],
        schema=["id","input_timestamp"])
df.printSchema()


from pyspark.sql.functions import *

# Using Cast to convert Timestamp String to DateType
df.withColumn('date_type', col('input_timestamp').cast('date')) \
       .show(truncate=False)

# Using Cast to convert TimestampType to DateType
df.withColumn('date_type', to_timestamp('input_timestamp').cast('date')) \
  .show(truncate=False)

df.select(to_date(lit('06-24-2019 12:01:19.000'),'MM-dd-yyyy HH:mm:ss.SSSS')) \
  .show()
  
#Timestamp String to DateType
df.withColumn("date_type",to_date("input_timestamp")) \
  .show(truncate=False)

#Timestamp Type to DateType
df.withColumn("date_type",to_date(current_timestamp())) \
  .show(truncate=False) 

df.withColumn("ts",to_timestamp(col("input_timestamp"))) \
  .withColumn("datetype",to_date(col("ts"))) \
  .show(truncate=False)
    
#SQL TimestampType to DateType
spark.sql("select to_date(current_timestamp) as date_type")
#SQL CAST TimestampType to DateType
spark.sql("select date(to_timestamp('2019-06-24 12:01:19.000')) as date_type")
#SQL CAST timestamp string to DateType
spark.sql("select date('2019-06-24 12:01:19.000') as date_type")
#SQL Timestamp String (default format) to DateType
spark.sql("select to_date('2019-06-24 12:01:19.000') as date_type")
#SQL Custom Timeformat to DateType
spark.sql("select to_date('06-24-2019 12:01:19.000','MM-dd-yyyy HH:mm:ss.SSSS') as date_type")

In [29]:
spark.stop()

In [57]:
df=spark.createDataFrame(
        data = [ ("1","2019-06-24 12:01:19"),("2","2019-09-21 10:38:00"),("3","2019-05-21 10:20:00")],
        schema=["id","in_time"])

# ("1","2019-06-24 12:01:19 AM"),("2","2019-09-21 10:38:00 PM)"

df.printSchema()
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
from pyspark.sql.functions import  to_date,to_timestamp,col,unix_timestamp
df1 =df.withColumn("time",to_timestamp(unix_timestamp(df.in_time,"yyyy-MM-dd hh:mm:ss")))
df.printSchema()
df1.sort("time").show()

root
 |-- id: string (nullable = true)
 |-- in_time: string (nullable = true)

In [64]:
df=spark.createDataFrame(
        data = [ ("1","2019-06-24 12:01 AM"),("2","2019-09-21 10:38 AM"),("3","2019-05-21 10:20 PM"),("4","2019-05-21 10:20 AM")],
        schema=["id","in_time"])

In [65]:
df.withColumn("time",to_timestamp(unix_timestamp(df.in_time,"yyyy-MM-dd hh:mm a"))).show()

+---+-------------------+-------------------+
| id|            in_time|               time|
+---+-------------------+-------------------+
|  1|2019-06-24 12:01 AM|2019-06-24 00:01:00|
|  2|2019-09-21 10:38 AM|2019-09-21 10:38:00|
|  3|2019-05-21 10:20 PM|2019-05-21 22:20:00|
|  4|2019-05-21 10:20 AM|2019-05-21 10:20:00|
+---+-------------------+-------------------+

In [36]:
df1.productname

0         ortho
1      robotics
2         angle
3    pyrosphere
Name: productname, dtype: object

In [37]:
# compare two csv file 

with open('emp.csv', 'r') as t1, open('emp2.csv', 'r') as t2:
    fileone = t1.readlines()
    filetwo = t2.readlines()


with open('update.csv', 'w') as outFile:
    for line in filetwo:
        if line not in fileone:
            outFile.write(line)

In [29]:
def binning_data(df, bin_data_list: list):
    """ This method creates bins for numerical values based on the column and the bins
    defined in the parameter.yml file.

    Args:
        :param df: Data frame which has the columns to be binned.
        :param bin_data_list: A list which defined columns and bin ranges.
    Returns:
        :rtype: df: Output data frame
    """

    for col_data in bin_data_list:
        column_name = col_data.upper()

        bin_list = bin_data_list[col_data]
        bin_list.insert(0, -float("inf"))
        bin_list.append(float("inf"))
        splits = bin_list

        df = df.withColumn(column_name, df[column_name].cast(DoubleType()))

        bucketizer = Bucketizer(
            splits=splits, inputCol=column_name, outputCol=column_name + "_bin123"
        )
        df = bucketizer.setHandleInvalid("keep").transform(df)

        d = create_bin_col_names(bin_data_list[col_data])

        mapping_expr = f.create_map([f.lit(x) for x in chain(*d.items())])
        df = df.withColumn(
            column_name, mapping_expr[f.col(column_name + "_bin123")]
        ).drop(f.col(column_name + "_bin123"))

    return df

def create_bin_col_names(bin_list: list) -> dict:
    """ This function creates names for bins.

        Args:
            :param bin_list: A list which contains bins
        Returns:
            :rtype: dict: Output data dictionary with bin names
    """

    d = {}
    x = 0
    for item in bin_list:
        x += 1
        if x == 1:
            d.update({x -1 : "<" + str(item).strip()})
        else:
            d.update({x -1 : str(prev_name).strip() + "-" + str(item).strip()})
        prev_name = item
    d.update({x: ">" + str(item).strip()})

    return d

In [25]:
df.schema

StructType(List(StructField(first_name,StringType,true),StructField(last_name,StringType,true),StructField(company_name,StringType,true),StructField(address,StringType,true),StructField(city,StringType,true),StructField(country,StringType,true),StructField(state,StringType,true),StructField(zip,IntegerType,true),StructField(age,IntegerType,true),StructField(phone1,StringType,true),StructField(phone2,StringType,true),StructField(email,StringType,true),StructField(web,StringType,true)))

In [30]:
bin_list = ["age","zip",]
create_bin_col_names(bin_list)

{0: '<age', 1: 'age-zip', 2: '>zip'}

#### Q. find out median 
output 

| department | lis_median |
|       ---  | ---      |
| Sales     | 3.0       |
| Finance   | 6.0       |

In [3]:
# 
simpleData = [("202305","Sales","NY",[1,2,3]),
    ("202306","Sales","NY",[4,2,3]),
    ("202305","Sales","CA",[4,5,3]),
    ("202306","Finance","CA",[4,5,6]),
    ("202305","Finance","NY",[5,6,7]),
    ("202306","Finance","NY",[6,7,8]),
  ]

schema = ["month","department","state","lis"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df

DataFrame[month: string, department: string, state: string, lis: array<bigint>]

In [6]:
display(df)

DataFrame[month: string, department: string, state: string, lis: array<bigint>]

In [5]:

df.printSchema()

display(df.selectExpr("*", "posexplode(lis) as (pos, lis_value)").groupBy('department').agg(median("lis_value").alias('lis_median')))

root
 |-- month: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- lis: array (nullable = true)
 |    |-- element: long (containsNull = true)

NameError: name 'median' is not defined

In [9]:
import numpy as np

In [8]:
from pyspark.sql.functions import udf, collect_list
from pyspark.sql.types import FloatType
def find_median(values_list):
    try:
        median = np.median(values_list)
        return round(float(median),2)
    except Exception:
        return None
    
med_find=udf(find_median,FloatType())

df2 = df.groupBy("department").agg(collect_list("lis").alias("lis_med"))
df2.show(truncate=0)

+----------+---------------------------------+
|department|lis_med                          |
+----------+---------------------------------+
|Sales     |[[1, 2, 3], [4, 2, 3], [4, 5, 3]]|
|Finance   |[[4, 5, 6], [5, 6, 7], [6, 7, 8]]|
+----------+---------------------------------+

In [10]:
df2.withColumn("lis_median",med_find("lis_med")).show()

+----------+--------------------+----------+
|department|             lis_med|lis_median|
+----------+--------------------+----------+
|     Sales|[[1, 2, 3], [4, 2...|       3.0|
|   Finance|[[4, 5, 6], [5, 6...|       6.0|
+----------+--------------------+----------+

In [15]:
from pyspark.sql.functions import *
df.groupBy("department").agg(flatten(collect_set(col("lis"))).alias("cs")).\
  withColumn('col', array_sort(expr('filter(cs, x -> x is not null)'))).\
  withColumn('lis_median', when(size(col('cs')) % 2 == 0,
                                            (expr('col[int(size(cs)/2)]') + expr('col[int(size(cs)/2)-1]'))/2
                                            ).otherwise(expr('col[int(size(cs)/2)]'))).\
                                              drop(*['col','cs']).\
  show(10,False)

+----------+----------+
|department|lis_median|
+----------+----------+
|Sales     |3.0       |
|Finance   |6.0       |
+----------+----------+

In [13]:
list1 = [[1, 2, 3], [4, 2, 3], [4, 5, 3]]
np.median(list1)

3.0

In [21]:
set2 = [142, 140, 130, 150, 160, 135, 158,132]
int(np.median(set2))

141

In [7]:
def three_sum(arr : list,bin_data : dict) -> list:
    for item in arr:
        if item not in bin_data:
            bin_data[item] = str(item) 
        else:
            bin_data[item] += str(item) 
    return bin_data  


arr = [1,2,3,4,5,8,4,7,0,10,3,5]

three_sum({2,3,4,4},{})

{2: '2', 3: '3', 4: '4'}

In [11]:
spark

In [105]:
# create new column result with name root , leaf and inner node 
from pyspark.sql import functions as F
node = [1,2,3,4,5,6,7]
parent = [5,5,6,6,7,7,None]

data = list(zip(node,parent))
data

df = spark.createDataFrame(data,["node","parent"])
df.show()

# using collect
parent_list = df.rdd.map(lambda x: x[1]).collect()
df.withColumn("result",
              F.when(df.parent.isNull(),"root_node")
              .when(df.node.isin(parent_list),"inner_node")
              .otherwise("leaf_node")
              ).show()


# using join
df.join(df.alias("df1"),df.node==F.col("df1.parent"),"left")\
        .withColumn("result",F.when(df.parent.isNull(),"root_node")\
        .when(F.col("df1.node").isNull(),"leaf_node")\
        .otherwise("innernode"))\
        .select(df.node,df.parent,"result").distinct().show()

+----+------+
|node|parent|
+----+------+
|   1|     5|
|   2|     5|
|   3|     6|
|   4|     6|
|   5|     7|
|   6|     7|
|   7|  null|
+----+------+

+----+------+----------+
|node|parent|    result|
+----+------+----------+
|   1|     5| leaf_node|
|   2|     5| leaf_node|
|   3|     6| leaf_node|
|   4|     6| leaf_node|
|   5|     7|inner_node|
|   6|     7|inner_node|
|   7|  null| root_node|
+----+------+----------+

+----+------+---------+
|node|parent|   result|
+----+------+---------+
|   7|  null|root_node|
|   6|     7|innernode|
|   5|     7|innernode|
|   1|     5|leaf_node|
|   3|     6|leaf_node|
|   2|     5|leaf_node|
|   4|     6|leaf_node|
+----+------+---------+

In [4]:
from pyspark.sql import functions as F
node = [1,2,3,4,5,6,7]
parent = [5,5,6,6,7,7,None]

data = list(zip(node,parent))
data
df = spark.createDataFrame(data,["node","parent"])
df.printSchema()

root
 |-- node: long (nullable = true)
 |-- parent: long (nullable = true)

In [15]:
from pyspark.sql.functions import collect_list,collect_set,array_contains,lit

In [16]:
df.withColumn("new",lit(collect_set("parent"))).show()

AnalysisException: grouping expressions sequence is empty, and '`node`' is not an aggregate function. Wrap '(collect_set(`parent`) AS `new`)' in windowing function(s) or wrap '`node`' in first() (or first_value) if you don't care which value you get.;;
Aggregate [node#0L, parent#1L, collect_set(parent#1L, 0, 0) AS new#106]
+- LogicalRDD [node#0L, parent#1L], false

In [9]:
df.filter(df.node.isin(collect_list("parent"))).show()

AnalysisException: cannot resolve '(`node` IN (collect_list(`parent`)))' due to data type mismatch: Arguments must be same type but were: bigint != array<bigint>;;
'Filter node#0L IN (collect_list(parent#1L, 0, 0))
+- LogicalRDD [node#0L, parent#1L], false

In [10]:
df_shoes = spark.read.parquet("s3://amazon-reviews-pds/parquet/product_category=Shoes/")
df_shoes.printSchema()

Py4JJavaError: An error occurred while calling o76.parquet.
: java.lang.NoClassDefFoundError: org/jets3t/service/S3ServiceException
	at org.apache.hadoop.fs.s3.S3FileSystem.createDefaultStore(S3FileSystem.java:99)
	at org.apache.hadoop.fs.s3.S3FileSystem.initialize(S3FileSystem.java:89)
	at org.apache.hadoop.fs.FileSystem.createFileSystem(FileSystem.java:2669)
	at org.apache.hadoop.fs.FileSystem.access$200(FileSystem.java:94)
	at org.apache.hadoop.fs.FileSystem$Cache.getInternal(FileSystem.java:2703)
	at org.apache.hadoop.fs.FileSystem$Cache.get(FileSystem.java:2685)
	at org.apache.hadoop.fs.FileSystem.get(FileSystem.java:373)
	at org.apache.hadoop.fs.Path.getFileSystem(Path.java:295)
	at org.apache.spark.sql.execution.streaming.FileStreamSink$.hasMetadata(FileStreamSink.scala:46)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:376)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:297)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:286)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:286)
	at org.apache.spark.sql.DataFrameReader.parquet(DataFrameReader.scala:758)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.ClassNotFoundException: org.jets3t.service.S3ServiceException
	at java.net.URLClassLoader.findClass(URLClassLoader.java:382)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:418)
	at sun.misc.Launcher$AppClassLoader.loadClass(Launcher.java:355)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:351)
	... 26 more

In [65]:
gender = ["M","M","F","M","F","F","F"]
gender = [(i,) for i in gender]

col = ['gender']
df = spark.createDataFrame(gender,col)

from pyspark.sql.functions import count
df.show()
df.groupBy("gender").count().show()
df.groupBy("gender").pivot("gender").count().show()

df.createTempView("tbl_gender")

query = "select sum(case when gender='M' then 1 else 0 end) as M_cnt , sum(case when gender='F' then 1 else 0 end) as F_cnt from tbl_gender"
spark.sql(query).show()

+------+
|gender|
+------+
|     M|
|     M|
|     F|
|     M|
|     F|
|     F|
|     F|
+------+

+------+-----+
|gender|count|
+------+-----+
|     F|    4|
|     M|    3|
+------+-----+

+------+----+----+
|gender|   F|   M|
+------+----+----+
|     F|   4|null|
|     M|null|   3|
+------+----+----+

+-----+-----+
|M_cnt|F_cnt|
+-----+-----+
|    3|    4|
+-----+-----+

In [70]:
query1 = "sum(case when gender='M' then 1 else 0 end) as M_cnt"
query2 = "sum(case when gender='F' then 1 else 0 end) as F_cnt" 
df.selectExpr(query1,query2).show()

+-----+-----+
|M_cnt|F_cnt|
+-----+-----+
|    3|    4|
+-----+-----+

In [ ]:
df.withColumn